
-- 2. RLS on instance_status_cache
ALTER TABLE public.instance_status_cache ENABLE ROW LEVEL SECURITY;
-- Default behavior with RLS enabled and no policies: only superusers (and service_role) can access it.
-- Anon and authenticated users will be denied.

-- 5. Webhook Events idempotency table
CREATE TABLE IF NOT EXISTS public.webhook_events (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id TEXT UNIQUE NOT NULL,
    source TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);
ALTER TABLE public.webhook_events ENABLE ROW LEVEL SECURITY;

